# Block everything by default
/*

!/next-migration/
# Whitelist requested directories and files
!/AML.Core.Web.API/
!/WatchDog/
!/.gitignore
!/Jenkinsfile
!/next-migration/**
!/README.md

# Ensure sub-directories are properly whitelisted
!/AML.Core.Web.API/**
!/WatchDog/**

# Ignore common build artifacts within whitelisted folders
AML.Core.Web.API/**/bin/
AML.Core.Web.API/**/obj/
WatchDog/**/bin/
WatchDog/**/obj/
node_modules/
.next/
.vs/
.vscode/
*.user
*.log


# App settings
appsettings.json
appsettings.*.json